<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
             http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--设置页面不登录也可以被访问-->
    <http pattern="/*.html" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <!--不拦截商家注册url-->
    <http pattern="/seller/add.do" security="none"/>

    <!-- 页面拦截规则 -->
    <!--use-expressions 为是否使用使用 Spring 表达式语言（ SpEL ），
        默认为true ,如果开启，则拦截的配置应该写成以下形式: access="hasRole('ROLE_USER')"-->
    <http use-expressions="false">
        <!--intercept-url 表示拦截页面
            /*  表示的是该目录下的资源，只包括本级目录不包括下级目录
            /** 表示的是该目录以及该目录下所有级别子目录的资源
            access:这里必需是ROLE_前缀，配置角色的意思
        -->
        <intercept-url pattern="/**" access="ROLE_SELLER" />

        <!--开启表单登陆功能-->
        <!--
            login-page：配置登录页面
            default-target-url：登录成功跳转的页面
            authentication-failure-url：登录失败跳转的页面
            注意：以下三个地址必须带"/"不然会报错
            always-use-default-target：指定了是否在身份验证通过后总是跳转到default-target-url属性指定的URL。
        -->
        <form-login login-page="/shoplogin.html" default-target-url="/admin/index.html" authentication-failure-url="/shoplogin.html" always-use-default-target="true"/>

        <!--关闭csrf ,如果不加会出现403错误-->
        <csrf disabled="true"/>
        <headers>
            <!--如果你在系统中使用了框架页，需要在<http>标签中设置框架页的策略为SAMEORIGIN-->
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <!--加此配置后，会自动的产生退出登录的地址/logout
            logout-url:退出的地址，会自动生成
            logout-success-url:退出后跳转的地址
        -->
        <logout/>

    </http>

    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
            <!--密码加密的类-->
            <password-encoder ref="bcryptEncoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="userDetailsService" class="com.pinyougou.service.UserDetailsServiceImpl">
        <beans:property name="sellerService" ref="sellerService"></beans:property>
    </beans:bean>

    <!-- 引用dubbo 服务 -->
    <dubbo:application name="pinyougou-shop-web" />
    <dubbo:registry address="zookeeper://106.55.6.221/:2181"/>
    <dubbo:reference id="sellerService" interface="com.pinyougou.sellergoods.service.SellerService"/>

    <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean>
</beans:beans>
